<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iptv.iptv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:name=".main.AppApplication"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".lib.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lib.MovieDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lib.PlaybackOverlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lib.BrowseErrorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".main.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".main.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.LivePlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".main.MovieGridActivity"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.VerticalGrid" />
        <activity
            android:name=".main.SeriesGridActivity"
            android:parentActivityName=".main.HomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.VerticalGrid" />
        <activity
            android:name=".lib.SeriesDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".main.SeriesEpisodeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lib.SeriesPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".main.MoviePlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/PlayerTheme" />
        <activity
            android:name=".main.MovieEpisodeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".main.SearchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".main.LiveGridActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>